:root[data-theme='light'] {
  --color-background: #d3d2d0;
  --color-surface: #c4cbc4;
  --color-text: #212529;
  --color-text-secondary: #6b7280;
  --color-text-bg: #f5f5f5;
  --color-primary: #253a22;
  --color-secondary: #40653e;
  --color-primary-hover: #1f441d;
  --color-accent: #b5da2f;
  --color-success: #277d46;
  --color-warning: #bfa917;
  --color-danger: #983e3e;
  --color-info: #0ea5e9;
  --color-border: #bcbcbc;
  --color-btn-secondary-text: #1a1a1a;
  --color-btn-secondary-border: #1a1a1a;
}

:root[data-theme='dark'] {
  --color-background: #121212;
  --color-surface: #1e1e1e;
  --color-text: #f5f5f5;
  --color-text-secondary: #a1a1aa;
  --color-text-bg: #212020;
  --color-primary: #639a5b;
  --color-secondary: #7aac77;
  --color-primary-hover: #a0c229;
  --color-accent: #434c1f;
  --color-success: #65cc69;
  --color-warning: #cccc6b;
  --color-danger: #cc6667;
  --color-info: #8c8cd6;
  --color-border: #2e2e2e;
  --color-btn-secondary-text: #f5f5f5;
  --color-btn-secondary-border: #f5f5f5;
}
